
module my-zabbix 1.0;

require {
	type zabbix_var_run_t;
	type zabbix_t;
	class sock_file {create unlink};
}

#============= zabbix_t ==============
allow zabbix_t zabbix_var_run_t:sock_file {create unlink};
